@import "../config/config";

.navbar {
	width: 100vw;
	position: fixed;
	background-color: rgba($color: #000000, $alpha: 0.5);
	z-index: 9999;

	.nav-inner {
		width: $container-size;
		margin: 0 auto;
		padding: 1rem 0;
	}

	.nav-ul {
		display: flex;
		justify-content: flex-end;
	}

	.nav-li {
		margin-left: 2rem;
	}

	.nav-a {
		font-size: 1.5rem;
		color: $text-light;

		&:hover {
			color: $text-primary;
		}
	}
}

@import "../config/media-queries";
